<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JankenKing</title>
  </head>
  <h1>じゃんけん Play page</h1>
  <h1>じゃんけーん</h1>
  <div>
    <a href="/hand/<%= 'gu' %>">ぐー</a>
    <a href="/hand/<%= 'choki' %>">ちょき</a>
    <a href="/hand/<%= 'pa' %>">ぱー</a>
  </div>
  <% if(locals.userName !== "Guest"){ %>
    <div>
        <p><%= locals.userName %></p>
    </div>
  <% }else{ %>
    <div>
        <p><%= locals.userName %></p>
    </div>
  <% } %>

</html>